<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} @ {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/override.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="emblem">
          <a href="{% link index.md %}" title="Enlace a nuestra página principal">
            <img class="logo" title="Logo de Xalapa Rust" alt="Nuestro Logo, el cangrejo Ferris sobre el cerro Macuiltépetl, enmarcados por un engrane" src="{% link logos/xalapa-rust-logo-sin-letras.png %}">
          </a>
          <h1 id="page-title">
            <a href="{% link index.md %}" title="Enlace a nuestra página principal">Xalapa Rust</a>
          </h1>
        </div>
        <p>Sitio web del grupo de programación en Rust de Xalapa</p>
        <p>Lee el <a href="{% link code_of_conduct.md %}" title="Enlace a nuestro código de conducta">código de conducta</a>.</p>

        <p class="view">Nuestro <a href="https://github.com/XalapaRust" title="perfil en Github">github</a></p>

        <strong>Entradas del blog</strong>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.date | date: '%Y-%m-%d' }} {{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Este proyecto es mantenido por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hospedado por GitHub Pages &mdash; Tema diseñado por <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
